<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/">
        <strong>Cabana Andreneasa</strong>
        
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Acasa</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid d-flex w-100" style="padding-bottom:5.5rem">
  <div class="w-100">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="fixed-bottom">
  <div class="col-md-12 text-center">
    <small>
      &copy; 2022 suruku
    </small>
  </div>
</div>