.bg-primary {
    background-color: #242424 !important;
}

.navbar-dark {
    background-color: #0f0f0f !important;
    border-bottom: #0f0f0f;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }